//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true
@omnisat:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=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
registry=https://registry.npmjs.org/
always-auth=true
